@font-face {
    font-family: 'Nunito sans';
    src: url(/src/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
    font-weight: bold;
    font-style: normal;
}

    #fondo-adopciones
    {
        position: relative;
        background: linear-gradient(to left, #ff914d, #ffde59);
        width: 100%;
        height: 560px;
        z-index: 0;
        bottom:203rem;
    }

    #fondo-superior-izquierda
    {
        position: relative;
        width:250px;
        height: 200px;
        transform: rotate(20deg);
        bottom: 240rem;
        right: 52%;
        z-index: 1;
    }
  
    #fondo-inferior-izquierda
    {
        position: relative;
        width: 200px;
        height: 220px;
        z-index: 1;
        bottom: 234rem;
        right: 30%;
        transform: rotate(10deg);
    }

#fondo-inferior-derecha
{
    display: flex;
    position: relative;
    width: 200px;
    height: 300px;
    bottom: 251rem;
    left: 35%;
    z-index: 1;
}
#foto-perro
{
    position: relative;
    width: 320px;
    height: 350px;
    bottom: 280rem;
    right: 6%;
    z-index: 2;

}

#descripcion-adopciones
{
    display: flex;
    position: relative;
    font-family: 'Nunito sans';
    font-size: 14px;
    width: 150px;
    height: 100px;
    bottom: 297rem;
    left: 200px;
    color: white;
    z-index: 2;
}

#titulo-adopciones
{
    display: flex;
    position: relative;
    font-family: 'Nunito sans';
    color: white;
    font-size: 25px;
    width: 300px;
    bottom: 293rem;
    left: 70px;
    z-index: 2;
}

#boton-de-adopciones
{
    position: relative;
    bottom: 292.6rem;
    left: 50%;
    width: 25%;
    height: 30px;
    border-radius: 20px;
    color: #50c878;
    font-size: 18px;
    z-index: 2;
}

