

@media (min-width:320px) and (max-width: 480px)
{

  @font-face {
    font-family: 'cocomat pro';
    src: url(/src/fonts/cocomat_pro/CocomatPro-Black.ttf);
    font-weight: bold;
    font-style:normal;
  }
    body {
        margin: 0;
        padding: 0;
      }
    #header {
        background: linear-gradient(to left, #ff914d, #ffde59);
        width: 100%;
        height: 6vh;
        z-index: 0;
               
        }
        #acces
        {
          position: relative;
        color: white;
        text-decoration: none;
        z-index: 1;
        bottom: 6vh;
        left: 79%;
        font-family: 'cocomat pro';
        font-size: 18px;
        }
}