@media (min-width:320px) and (max-width: 480px)
{
    #subheader
    {
        display: flex;
        position: relative;
        width: 31%;
        height: 30px;
        
        bottom: 3vh;
    }
    .logo
    {
        width: 30%;
        height: 40px;
      
    }


}