@media (min-width:320px) and (max-width: 480px)
{
    #subheader
    {
        display: flex;
        position: relative;
        width: 6vw;
        height: 3vh;
        
        bottom: 3vh;
    }
    .logo
    {
        width: 30vw;
        height: 40vh;
      
    }


}