@media (min-width:320px) and (max-width: 480px)
{
    #subheader
    {
        display: flex;
        position: relative;
        width: 20vw;
        height: 5vh;
         bottom: 2vh;
    }
    .logo
    {
        width: 100vw;
        height: 60vh;
      
    }


}