@font-face {
    font-family: 'Nunito sans';
    src: url(/src/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
    font-weight: bold;
    font-style: normal;
}

#background-footer
{

    display: flex;
    position: relative;
 
    width: 100vw;
    height: 80vh;
    bottom:292rem;
    z-index: 2;
}

#cuidar-section
{
    position: relative;
    background-color: #87CEEB;
    width: 150px;
    height: 150px;
    z-index: 3;
    left: 50px;
    bottom: 323rem;
    border-radius: 50%;
}

#donar-section
{
    position: relative;
    width: 150px;
    height: 150px;
    background-color: #50C878;
    left: 2px;
    border-radius: 10%;
    bottom: 342rem;
    left: 30px;
    z-index: 4;
}

#adoptar-section
{
    position: relative;
    width: 200px;
    height: 200px;
    bottom: 350rem;
    left: 120px;
    z-index: 5;
}
#cuidar-title
{
    display: flex;
    position: relative;
    width: 60px;
    font-size: 18px;
    font-family: 'Nunito sans';
    color: white;
    z-index: 4;
    bottom: 318rem;
    left: 95px;
    text-decoration: none;
}

#donar-title
{
    display: flex;
    position: relative;
    width: 60px;
    font-size: 18px;
    font-family: 'Nunito sans';
    color: white;
    z-index: 5;
    bottom: 337rem;
    left: 80px;
    text-decoration: none;
}

#adoptar-title
{
    display: flex;
    position: relative;
    width: 60px;
    font-size: 18px;
    font-family: 'Nunito sans';
    color: white;
    z-index: 6;
    bottom: 343.5rem;
    left: 190px;
    text-decoration: none;
}

#cuidar-link
{
    display: flex;
    bottom: 290rem;
    z-index: 5;
}