.popup-filtro {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f9f9;
  padding: 40px; 
  padding-top: 60px;
  padding-bottom: 60px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.icono-filtro {
  width: 18px;
  margin-left: 15px;
}

.boton-filtrar {
  background-color: #ff0606;
  color: #fff;
  border: none;
  padding: 10px 50px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 80px;
}

.boton-filtrar:hover {
  background-color: #cc0505;
}

.buscador {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.opcion {
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

select {
  width: 220px;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s;
}

select:focus {
  border-color: #888;
}

.btn-group {
  display: flex;
  justify-content: center; 
  margin-top: 20px;
}

button {
  margin: 0 5px; 
  padding: 10px 20px;
  background-color: #54C877;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #3a8b52;
}
