.product-card-container {
  position: relative;
}

.reborde-felinos-container {
  position: absolute;
  top: -30px; 
  left: 0;
  width: 100%;
  z-index: 1; 
}

.reborde-felinos {
  width: 100%;
  height: auto;
}

.background-card {
  position: relative; 
  overflow: hidden;
  background-color: white;
  padding: 20px;
}

.product-card {
  display: flex;
  background-color: #ffa500;
  align-items: center;
  border: solid #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);  border-radius: 80px;
  overflow: hidden;
  margin: 20px;
  -webkit-border-radius: 80px;  
  -moz-border-radius: 80px;
  -ms-border-radius: 80px;
  -o-border-radius: 80px;
}
.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 0.5rem; 
  padding: 15px;
  border-radius: 50%;
}

.product-details {
  padding: 0.5rem;
  flex: 1; 
}

.product-title {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.product-description {
  font-size: 0.7rem;
  color: #ffffff;
}

.product-genero {
  font-size: 0.8rem;
  color: #ffffff;
}

