
    @font-face {
        font-family: 'Nunito sans';
        src: url(/src/fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
        font-weight: bold;
        font-style: normal;
    }
    #fondo
    {
        position: relative;
        background-color: #ffa500;
        width: 100%;
        height: 640px;
        z-index: 0;
        bottom: 70rem;
        
    }

    #txt
    {
        position: relative;
        color: #004add;
        font-family: 'Nunito sans';
        font-size: 20px;
        z-index: 1;
        bottom: 108rem;
        left: 12%;
        text-align: center;
        width: 70%;
        
      
    }
    #txt1
    {
       
        position: relative;
        font-family: 'Nunito sans';
        color: white;
        width: 50px;
        font-size: 18px;
        bottom: 108rem;
        left: 8%;
        z-index:1;
    } 

    #form
    {
        position: relative;
        width: 300px;
        height: 26px;
        border: 2px solid black;
        border-radius: 15px;
        bottom: 108rem;
        left: 9%;
        z-index: 1;
    }

    #btn
    {
        position: relative;
        background-color: #004add;
        color: white;
        width: 250px;
        height: 40px;
        border: 0px;
        border-radius: 25px;
        bottom: 105rem;
        left: 12%;
        font-size: 18px;
        font-family: 'Nunito sans';
        z-index: 1
    }






