

    @font-face {
        font-family: 'Montserrat';
        src: url(/src/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
        font-weight: bold;
        font-style: normal;
    }

    #background2
    {
        position: relative;
        background-image: url('../../assets-index/7.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;
        z-index: 1;
        bottom: 295vh;
    }
    #img-protect-maps
    {
        position: relative;
        width: 85%;
        height: 50vh;
        bottom: 380vh;
        left: 7vh;
        z-index: 2;
    }

    #descripcion-seccion-mapa
    {
        display: flex;
        position: relative;
        font-size: 20px;
        font-family: 'Montserrat';
        bottom: 430vh;
        z-index: 3;
        color: white;
        width: 60%;
        height: 8vh;
    }

    #boton-del-mapa
    {
        
        position: relative;
        bottom: 390vh;
        width: 25%;
        height: 4vh;
        border-radius: 20px;
        color: #50c878;
        font-size: 18px;
        z-index: 2;
    }

