
    @font-face {
        font-family: 'Montserrat';
        src: url('../../../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
        font-weight: bold;
        font-style: bold;
    }
    
    #imagen-fondo
    {
        position: relative;
      
        z-index: 1;
        width: 98vw;
        height: 70vh;
        bottom: 145rem;
        
    }
    #img
    {
        position: relative;
        width: 94vw;
        height: 60vh;
        bottom: 90rem;
    
        z-index: 2;
    }

    #img1
    {
        position: relative;
        width: 50vw;
        height: 21vh;
        bottom: 123rem;
        z-index: 3;

    }
    #txt2
    {
        position: relative;
        color: #50C878;
        font-family: 'Montserrat';
        bottom: 180rem;
        width: 250px;
        left: 120px;
        font-size: 20px;
        z-index: 3;
    }

    #btn1
    {
        position: relative;
        color: #50C878;
        width: 50vw;
        height: 5vh;
        border: 3px;
        border-radius: 20px;
        bottom: 170rem;
        z-index: 3;
    }
