

    #background
    {
        position: relative;
        background: linear-gradient(to right, #0079b2, #7ED957);
        width: 100%;
        height: 380px;
        z-index: 0;
        bottom: 5px;        
    }

    #portada{
        display: flex;
        position: relative;
        width: 300px;
        height: 450px;
        z-index: 1;
        bottom: 24.5rem;
        right: 5px; 
        filter: drop-shadow(20px 30px 0px rgba(0, 0, 0, 0.2));
    }

    #heart1
    {
        display: flex;
        position: relative;
        width: 500px;
        height: 300px;
        bottom: 50rem;
        right: 130px;
        z-index: 2;
    }

    #heart2
    {
        display: flex;
        position: relative;
        width: 300px;
        height: 400px;
        bottom: 64rem;
        z-index: 2;

    }


